{
  "extends": ["stylelint-config-standard", "stylelint-config-prettier"],
  "plugins": ["stylelint-order"],
  "rules": {
    "color-no-invalid-hex": true,
    "declaration-colon-newline-after": null,
    "order/properties-order": ["display", "width", "height", "margin", "padding", " background-color", "color", "..."]
  }
}
