.products {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  max-width: 890px;
  margin-right: 30px;
  gap: 10px;
}

.prod-containner {
  display: flex;
  flex-direction: column;
}

.prod-containne__header {
  display: flex;
  justify-content: space-between;
  border-bottom: solid 2px;
  padding-bottom: 2px;
  width: 100%;
  max-width: 890px;
  margin-bottom: 5px;
}

.header__text-disabled {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}

.products__text {
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: -0.28px;
  margin-bottom: 15px;
}

@media (max-width: 1027px) {
  .header__topBtn {
    margin-right: 50px;
  }
}

.check-all {
  margin-bottom: 15px;
}

.check-all_text {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.prod-containner__product-cards {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
}

.product-cards--disabled {
  padding-top: 10px;
}

.product-cards_card {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
}

.product-cards_card--disabled {
  justify-content: flex-start;
}

.card__img-container {
  display: flex;
  align-items: center;
  height: 96px;
}

.img-container_img {
  width: 72px;
}

.card__info {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  gap: 8px;
  max-width: 520px;
  margin-left: 15px;
}

.info--disabled {
  max-width: 575px;
}

@media (max-width: 1024px) {
  .product-cards_card {
    justify-content: flex-start;
  }

  .info {
    max-width: 320px;
    margin-left: 15px;
  }
}

.info-title {
  margin: 0;
  color: var(--black);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  max-width: 270px;
}

.info-title--disabled {
  color: var(--gray);
  max-width: 290px;
}

.details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 160px;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
}

.details--disabled {
  color: var(--gray);
}

.details_text {
  display: flex;
  margin: 0;
}

.addition {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 38px;
}

.addition_text {
  margin: 0;
  color: var(--gray);
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
}

.brand {
  display: flex;
}

.brand_exclamation {
  width: 20px;
  margin-left: 10px;
}

.card__quantity {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 100px;
  height: 110px;
  padding-bottom: 15px;
  box-sizing: border-box;
}

.quantity_btns {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100px;
  height: 45px;
  background-color: var(--white);
  border-radius: 5px;
}

.quantity_btns-btn {
  box-sizing: border-box;
  width: 24px;
  height: 100%;
  background-color: transparent;
  border: none;
}

.quantity_btns-number {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.quantity_balance-in-stock {
  width: 100%;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}

.quantity_icons-btns {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  width: 55px;
}

.card__price {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  min-width: 120px;
  height: 100px;
  gap: 6px;
}

.price_current {
  margin: 0;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: -0.2px;
}

.price_current--small {
  font-size: 16px;
}

.price_previous {
  margin: 0;
  color: var(--gray);
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  text-decoration: line-through;
  line-height: 16px;
}
