@import url('./footer.css');
@import url('./header.css');
@import url('./main//main.css');

@font-face {
  font-family: 'UI';
  src: url('../assets/fonts/Segoe\ UI.ttf');
}

:root {
  --violet: #6725a8;
  --white: #fff;
  --black: #000;
  --gray: #9797af;
  --pink: #cb11ab;
  --red: #f55123;
  --grayBackground: #f6f6fa;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

html,
body {
  
  box-sizing: border-box;
  font-family: 'UI', sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

body{
  position: relative;
}

.container {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto;
  max-width: 1400px;
  background-color: var(--violet);
}

@media (max-width: 1024px) {
  .container {
    max-width: 1024px;
    width: 100%;
  }
}

.checkbox {
  display: none;
}

.checkbox-label {
  position: relative;
  padding-left: 30px;
  cursor: pointer;
}

.checkbox-label::before {
  content: '';
  position: absolute;
  left: 0;
  top: 60%;
  transform: translateY(-50%);
  width: 22px;
  height: 22px;
  background-color: var(--pink);
  box-sizing: border-box;
  border-radius: 5px;
}

.checkbox:checked + span::after {
  content: '';
  position: absolute;
  left: 6px;
  top: 45%;
  transform: translateY(-50%) rotate(45deg);
  width: 8px;
  height: 15px;
  border: solid white;
  border-width: 0 3px 3px 0;
}

.popup-beck{
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(128, 128, 128, 0.5);
  display: none;
  align-items: center;
  justify-content: center;
}

.popup{
   background-color:var(--white) ;
  border-radius: 10px;
  padding: 30px;
}

.close{
  display: flex;
  justify-content: flex-end; 
}

 

 .popup_btn-wrap{
  display: flex;
  justify-content: space-around;
  padding: 15px;

 }

 .popup_adress-container{
  padding-bottom: 10px;
 }

.popup_adress-list{
  list-style-type: none;
}

.popup_btn-option{
  border: 1px solid var(--gray);
  padding: 10px ;
  width: 130px;
  border-radius: 30px;
}
.popup_btn-option:hover{
  border: 1px solid var(--pink)
}

 .popup-change-adress_choose-btn{
  margin-top: 25px;
  margin-bottom: 10px;
  color: var(--white);
  background-color: var(--pink);
  width: 110px;
  padding: 10px;
  border-radius: 10px;
 }
 .popup_adress-list-item{
  display: flex;
 }

 .address-radio-input{
  flex-grow: 1; 
 }